<!DOCTYPE html>
<html lang="en">

{{> mihead }}

<body>
    {{> cabecera }}
    <h1>Hola, soy {{ capitalize name }} y vivo en {{ getCiudad }}</h1>
    <div>Esto es una página web.</div>
    <div>la fecha es {{ mydate }}</div>
    {{> pie }}
</body>

</html>